.containerLinks, .containerLinksW{
  -webkit-box-shadow: 0px 3px 27px 8px rgba(223, 223, 223, 0.05);
  -moz-box-shadow: 0px 3px 27px 8px rgba(223, 223, 223, 0.08);
  box-shadow: 0px 3px 27px 8px rgba(223, 223, 223, 0.07);
  width: 100%;
  padding-inline: 10px;
  border-radius: 15px;
  margin-top: 10px;
  border-color: rgba(255, 255, 255, 0.17);
  border-width: 1px;
  border-style: solid;
}
.containerLinksW{
  -webkit-box-shadow: 0px 16px 27px -1px rgba(182, 182, 182, 0.17);
  -moz-box-shadow: 0px 16px 27px -1px rgba(182, 182, 182, 0.17);
  box-shadow: 0px 16px 27px -1px rgba(182, 182, 182, 0.17);
}

.linkName, .activeL, .linkNameW, .linkShow, .linkShowB{
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.025em;
  color: #1b1b1b;
  background: none;
  &:hover{
    --tw-bg-opacity: 1;
    background: #f1f5f9;
  }
}
.activeL{
  --tw-bg-opacity: 1;
  background: #f1f5f9!important;
  --tw-text-opacity: 1;
  color: #0284c7!important;
}
.linkNameW, .linkShowB{
  color: white;
  &:hover{
    background: rgba(241, 245, 249, 0.5);
  }
}
.linkShow, .linkShowB{
  width: 100%;
  justify-content: flex-start;
  &:hover{
    color: #0284c7!important;
    & svg {
      fill: #0284c7;
    }
  }
}

.rotateSvg{
  transform: rotate(180deg);
}
.linkShowB{
  &:hover{
    color: #0284c7!important;
    & svg {
      fill: #0284c7;
    }
  }
}
.usersSection{
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e5e7eb;
  width: 100%;
  margin-bottom: 15px;
}
.mainLinkIcon{
  width: 23px;
  height: 23px;

}