.inputForm{
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: 700;
  --tw-text-opacity: 1 !important;
  color: rgb(75 85 99 / 1) !important;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
  --tw-shadow-colored: 0 1px 2px 0 !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
  border-color: rgb(226 232 240 / 1) !important;
  border-radius: 0.5rem !important;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  @media (max-width: 780px){
    max-width: 400px;
  }
}